# generated build files
/build/

# compiled binaries
/distr/

# created release
/release-*/

# local environment setup
/scripts/build-env.sh

# Python bytecode
__pycache__
/compiler/extensions/cpp/.vscode/
/compiler/core/src/.vscode/
/compiler/extensions/java/.vscode/
/compiler/extensions/python/.vscode/
