[submodule "3rdparty/cpp/googletest"]
	path = 3rdparty/cpp/googletest
	url = https://github.com/google/googletest.git
[submodule "benchmarks/datasets"]
	path = benchmarks/datasets
	url = https://github.com/ndsev/zserio-benchmarks-datasets.git
	branch = master
[submodule "test/data"]
	path = test/data
	url = https://github.com/ndsev/zserio-test-data.git
