---
BasedOnStyle: Microsoft
---
Language: Cpp

# Access modifier should be aligned to braces.
AccessModifierOffset: -4

# Always break before braces.
BreakBeforeBraces: Allman

# Align pointer to the left (to the type).
PointerAlignment: Left

# The column limit for Zserio.
ColumnLimit: 112

# Always break after template declaration.
AlwaysBreakTemplateDeclarations: Yes

# Indent width for line continuations.
ContinuationIndentWidth: 8

# Settings for constructor initializers.
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 8
PackConstructorInitializers: Never

# Don’t align, instead use ContinuationIndentWidth.
AlignAfterOpenBracket: DontAlign

# Don't align trailing comments.
AlignTrailingComments: false

# Don't align operands.
AlignOperands: DontAlign

# Indent preprocessor directives.
IndentPPDirectives: BeforeHash

# Improve indentation of chained method calls.
PenaltyIndentedWhitespace: 10

# Allow brace wrapping for unions .
# Allow empty braces on the same line for functions, records and namespaces.
BreakBeforeBraces: Custom
BraceWrapping:
  AfterUnion: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Regroup and sort includes.
IncludeBlocks: Regroup
IncludeCategories:
  # System headers in <>.
  - Regex:           '<.*>'
    Priority:        -2
    CaseSensitive:   false
  # Headers in "" in current directory.
  - Regex:           '"[^/\]+"'
    Priority:        0
    CaseSensitive:   false
  # Headers in "" in different directory.
  - Regex:           '".*"'
    Priority:        -1
    CaseSensitive:   false
  # All other headers.
  - Regex:           '.*'
    Priority:        1
    CaseSensitive:   false

# Indent case blocks.
IndentCaseBlocks: true
...

