name: Linux Doc

on:
  workflow_call:

jobs:
  doc:
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: "ubuntu-20.04" }
        - { os: "ubuntu-22.04" }

    runs-on: ${{matrix.os}}
    name: ${{matrix.os}}

    steps:
    - name: "Set up environment"
      run: |
        echo "NU_HTML_VALIDATOR=${RUNNER_WORKSPACE}/vnu-20.6.30/vnu.jar" >> ${GITHUB_ENV}

    - name: Apt update # with workaround for 'Unable to connect to ppa.launchpad.net' failure
      run: sudo apt-get update --option Acquire::Retries=100 --option Acquire::http::Timeout="300"

    - name: Install dependencies
      run: sudo apt-get install graphviz

    - name: Set up Java 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: "8"

    - name: Install specific version of HTML validator (v.Nu)
      run: |
        wget https://github.com/validator/validator/releases/download/20.6.30/vnu.jar_20.6.30.zip \
            -P "${RUNNER_WORKSPACE}"
        unzip "${RUNNER_WORKSPACE}"/vnu.jar_20.6.30.zip -d "${RUNNER_WORKSPACE}"
        mv "${RUNNER_WORKSPACE}"/dist "${RUNNER_WORKSPACE}"/vnu-20.6.30

    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Download Zserio release artifact
      uses: actions/download-artifact@v3
      with:
        name: zserio-bin-java8

    - name: Run Zserio tests
      run: |
        scripts/test.sh doc

    - name: Run Zserio tests with extra arguments
      run: |
        export ZSERIO_EXTRA_ARGS="-withTypeInfoCode -withCodeComments"
        scripts/test.sh -p -i arguments/without_writer_code doc

        export ZSERIO_EXTRA_ARGS="${ZSERIO_EXTRA_ARGS} -withValidationCode -withRangeCheckCode"
        scripts/test.sh -p -x arguments/without_writer_code doc

    - name: Run Zserio integration tests for repeated generation
      run: |
        scripts/test_gen.sh doc
