name: Windows Python

on:
  workflow_call:

jobs:
  python:
    strategy:
      fail-fast: false
      matrix:
        include:
        - { os: "windows-2022", python-version: "3.8" }
        - { os: "windows-2022", python-version: "3.9" }
        - { os: "windows-2022", python-version: "3.10" }
        - { os: "windows-2022", python-version: "3.11" }
        # update to "3.12" when https://github.com/ndsev/zserio/issues/595 is fixed
        - { os: "windows-2022", python-version: "3.12.2" }

    runs-on: ${{matrix.os}}
    name: ${{matrix.os}}-python${{matrix.python-version}}

    steps:
    - name: "Set up environment"
      shell: bash
      run: |
        echo "PYLINT_ENABLED=1" >> ${GITHUB_ENV}
        echo "MYPY_ENABLED=1" >> ${GITHUB_ENV}

    - name: Install dependencies
      shell: bash
      run: |
        choco install doxygen.portable
        choco install graphviz
        choco install wget
        choco install zip

    - name: Set up Java 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: "8"

    - name: Set up Python ${{matrix.python-version}}
      uses: actions/setup-python@v4
      with:
        python-version: ${{matrix.python-version}}

    - name: Install Python dependencies
      shell: bash
      run: |
        python -m pip install --upgrade pip
        python -m pip install virtualenv
        python -m pip install setuptools # necessary for pkg_resources on Python 3.12

    - name: "Convert environment variables to POSIX paths"
      shell: bash
      run: |
        echo "ANT=/${ANT_HOME}/bin/ant" | sed -e 's/\\/\//g' -e 's/://' >> ${GITHUB_ENV}
        echo "JAVA_HOME=/${JAVA_HOME}" | sed -e 's/\\/\//g' -e 's/://' >> ${GITHUB_ENV}

    - name: "Checkout"
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Download Zserio release artifact
      uses: actions/download-artifact@v3
      with:
        name: zserio-bin-java8

    - name: Build Zserio C++ runtime (needed for python_cpp)
      shell: bash
      run: |
        scripts/build.sh cpp_rt-windows64-msvc

    - name: Build Zserio Python runtime
      shell: bash
      run: |
        scripts/build.sh python_rt

    - name: Pack Zserio Python runtime release
      shell: bash
      run: |
        scripts/release.sh -p runtime_libs

    - name: Run Zserio tests
      shell: bash
      run: |
        scripts/test.sh python

    - name: Run Zserio tests with extra arguments
      shell: bash
      run: |
        export ZSERIO_EXTRA_ARGS="-withTypeInfoCode -withCodeComments"
        scripts/test.sh -p -i arguments/without_writer_code python

        export ZSERIO_EXTRA_ARGS="${ZSERIO_EXTRA_ARGS} -withValidationCode -withRangeCheckCode"
        scripts/test.sh -p -x arguments/without_writer_code python

    - name: Run Zserio integration tests for repeated generation
      shell: bash
      run: |
        scripts/test_gen.sh python

    - name: Run Zserio API compatibility checks
      shell: bash
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        MYPY_ENABLED: 0
        PYLINT_ENABLED: 0
      run: |
        scripts/test_compat_api.sh python

    - name: Run Zserio performance tests
      shell: bash
      run: |
        scripts/test_perf.sh python python-cpp \
            --source-dir test/others/gif/zs --source gif.zs \
            --blob-name gif.GifFile --blob-file test/data/others/gif/1pix.gif \
            --num-iterations 1000 --test-config READ_WRITE

    - name: Run Zserio benchmarks
      shell: bash
      run: |
        scripts/benchmark.sh python python-cpp --num-iterations 1

    - name: Archive Zserio Python runtime artifacts
      # update when https://github.com/actions/upload-artifact/issues/543 is fixed
      uses: actions/upload-artifact@v3
      # we want this artifact only once since it contains only sources
      if: ${{ matrix.python-version == '3.8' }}
      with:
        name: "zserio-runtime-python"
        path: release-*/*runtime-libs*

    - name: Archive Zserio build artifacts
      # update when https://github.com/actions/upload-artifact/issues/543 is fixed
      uses: actions/upload-artifact@v3
      with:
        name: "zserio-build-${{matrix.os}}-python${{matrix.python-version}}"
        path: |
          build/runtime_libs/python/**/zserio_cpp/**/*.pyd

