name: Linux

on:
  push:
    branches: [ master, '*-ci' ]
  pull_request:
    branches: [ master, '*-ci' ]
  workflow_dispatch:

jobs:
  zserio:
    uses: "./.github/workflows/build_linux_zserio.yml"

  cpp:
    needs: [zserio]
    uses: "./.github/workflows/build_linux_cpp.yml"
  java:
    needs: [zserio]
    uses: "./.github/workflows/build_linux_java.yml"
  python:
    needs: [zserio]
    uses: "./.github/workflows/build_linux_python.yml"
  doc:
    needs: [zserio]
    uses: "./.github/workflows/build_linux_doc.yml"
  xml:
    needs: [zserio]
    uses: "./.github/workflows/build_linux_xml.yml"

  release:
    needs: [cpp, java, python, doc, xml]
    runs-on: "ubuntu-22.04"
    steps:
    # update when https://github.com/actions/download-artifact/issues/315 is fixed
    - name: "Download Zserio compiler artifacts"
      uses: actions/download-artifact@v4.1.7
      with:
        name: zserio-bin-java8
        path: zserio-bin-java8
    - name: "Download Java runtime release artifacts"
      uses: actions/download-artifact@v4.1.7
      with:
        name: zserio-runtime-java8
        path: zserio-runtime-java8
    - name: "Download C++ runtime release artifacts"
      uses: actions/download-artifact@v4.1.7
      with:
        name: zserio-runtime-cpp
        path: zserio-runtime-cpp
    - name: "Download Python runtime release artifacts"
      uses: actions/download-artifact@v4.1.7
      with:
        name: zserio-runtime-python
        path: zserio-runtime-python

    - name: "Get Zserio version"
      run: |
        RELEASE_DIR=$(ls -1 zserio-bin-java8 | head -n 1)
        ZSERIO_VERSION=${RELEASE_DIR#release-}
        echo "ZSERIO_VERSION=${ZSERIO_VERSION}" >> ${GITHUB_ENV}

    - name: "Compose final release"
      run: |
        RELEASE_DIR=release-${ZSERIO_VERSION}
        mkdir ${RELEASE_DIR}

        # zserio compiler with all extensions
        cp zserio-bin-java8/release-*/zserio-*-bin.zip ${RELEASE_DIR}/.

        # prepare all runtime libraries
        mkdir runtime_libs

        # add zserio java runtime library
        unzip -q zserio-runtime-java8/release-*/zserio-*-runtime-libs.zip -d zserio-runtime-java8
        cp -r zserio-runtime-java8/runtime_libs/java runtime_libs/.

        # add zserio cpp runtime library
        unzip -q zserio-runtime-cpp/release-*/zserio-*-runtime-libs.zip -d zserio-runtime-cpp
        cp -r zserio-runtime-cpp/runtime_libs/cpp runtime_libs/.

        # add zserio python runtime library
        unzip -q zserio-runtime-python/release-*/zserio-*-runtime-libs.zip -d zserio-runtime-python
        cp -r zserio-runtime-python/runtime_libs/python runtime_libs/.

        # zip runtime libraries
        zip -rq ${RELEASE_DIR}/zserio-${ZSERIO_VERSION}-runtime-libs.zip "runtime_libs"

    - name: "Archive release artifacts"
      # update when https://github.com/actions/upload-artifact/issues/543 is fixed
      uses: actions/upload-artifact@v3
      with:
        name: linux-release-${{env.ZSERIO_VERSION}}
        path: release-${{env.ZSERIO_VERSION}}
